---
name: lint mypy

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: ["3"]
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files-specific
        uses: tj-actions/changed-files@20576b4b9ed46d41e2d45a2256e5e2316dde6834 # v43.0.1
        with:
          files: |
            **/*.py
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          python-version: ${{ matrix.python-version }}
      - name: reformat code
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install
          poetry run mypy ./ --strict --non-interactive --junit-xml ./mypy-report.xml
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@9379f0ccddcab154835d4e2487555ee79614fe95 # v4.2.1
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: './**-report.xml'
